body {
    background-color: rgb(28, 4, 94);
  }
  
  h1 {
    margin: 20px;
    font-size: large;
    font-weight: bold;
  }
  
  p {
    padding: 15px;
  }
  
  #first-paragraph {
    background-color: rgb(74, 175, 233);
    color: rgb(255, 240, 250)
  }